# ---- Django Core ----
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-secreta-real-en-produccion
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
BASE_URL=http://127.0.0.1:8001
DELIVERY_API_KEY=dev-secret-key-123


# ---- Postgres ----
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL_CONNECTION=

# ---- Celery / Redis ----
CELERY_BROKER_URL=redis://localhost:6379/0

# ---- Providers ----
EXAMPLE_API_KEY=
EXAMPLE_URL=

# ---- AWS S3 Storage ----
USE_S3=False
AWS_ACCESS_KEY_ID=ingresa_tu_access_key
AWS_SECRET_ACCESS_KEY=ingresa_tu_secret_key
AWS_STORAGE_BUCKET_NAME=nombre_de_tu_bucket
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ENDPOINT_URL=https://s3.amazonaws.com

